@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	height: 80px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo{
	display: flex;
	align-items: center;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 5%;
	color: #66001F;
}
.logoImg{
	width: 48px;
	height: 39px;
	margin-right: 20px;
}
main{
	padding: 0 10%; 
}