@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	height: 80px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo{
	display: flex;
	align-items: center;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 5%;
	color: #66001F;
}
.logoImg{
	width: 48px;
	height: 39px;
	margin-right: 20px;
}
main{
    background-image: url("../asset/Rectangle22.png");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
	/* padding: 0 10%; */
	/* width: 90%; */
}

/* Main */

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
}

.containerkiri {
	/* box-shadow: -4px 4px 10px black; */
	width: 40%;
	margin: auto;
	padding: 40px;
	text-align: left;
	font-size: large;

}

.containerkiri h1 {
	color: #001466;
	font-weight: normal;
}

.containerkiri strong {
	font-weight: bold;
}

.containerkiri p {
	margin: 30px;
	margin-left: 0px;
}

.containerkiri button {
	background-color: #001466;
	color: white;
	height: 30px;
	width: 150px;
    border: none;
    cursor: pointer;
	/* border-radius: 10px; */
}

.containerkanan {
	box-shadow: -4px 4px 10px black;
	width: 40%;
	border-top: 20px solid #F99E00;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 40px;
	gap: 40px	;
	margin: auto;
}

.containerkanan h2 {
	font-weight: normal;
	color: #001466;
}

.containerkanan h1 {
	color: #F99E00;
	font-size: 80px;
}

.containerkanan h4 {
	color: #001466;
	font-size: 13px;
}