@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body {
    /* font-family: 'Inter', sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* .main { */
    /* height: 2500px; */
/* } */
/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	height: 80px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo{
	display: flex;
	align-items: center;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 5%;
	color: #66001F;
}
.logoImg{
	width: 48px;
	height: 39px;
	margin-right: 20px;
}

/* Background Container */
.container-background {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("../asset/hush-naidoo-jade-photography-yo01Z-9HQAw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
}

.content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

/* Intro */
.intro {
    width: 50%;
}

.intro h2 {
    color: navy;
    font-size: 28px;
}

button {
    background: navy;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Prediction Cards */
.prediction {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.card, .alert-card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.title-percentage{
    color: #001466;
    font-size: 20px;
}

.percentage{
    justify-content: center;
    text-align: center;
    color: #001466;
    font-size:36px;
}

.title-alert-percentage {
    color: #E10000;
    font-size: 20px;
}

.alert-percentage{
    justify-content: center;
    text-align: center;
    color: #E10000;
    font-size:36px;
}

.card {
    width:100%;
    border-top: 8px solid navy;
    margin-bottom: 20px;
    /* z-index: 3; */
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.05);
}

.alert-card {
    /* padding-top: 50px; */
    /* z-index: 4; */
    margin-top: 20px;
    /* margin-left: 300px; */
    width: 50%;
    border-top: 8px solid red;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.05);
}

/* Keunggulan Section */
.keunggulan {
    width: 85%;
    /* height: 400px; */
    margin: auto;
    background: white;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    /* gap: 40px; */
    justify-content: space-between;
    /* align-items: center; */
}

.keunggulankiri {
    width: 50%;
    margin-right: 20px;
}

.keunggulankiri h4 {
    font-weight: normal;
}

.keunggulankiri strong {
    font-size: 18px;
    font-weight: bold;
}

.keunggulankiri h2{
    color: #66001F;
}

.keunggulankiribawah {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gambarkeunggulan{
    fill: #66001F;
    height: 50px;
}

.keunggulankanan {
    width: 50%;
}

.keunggulankanan h4 {
    font-weight: normal;
}
.keunggulankananatas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.keunggulankananbawah {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* tentang */

.tentang {
    width: 85%;
    margin: auto;
    padding: 20px;
}

.judultentang {
    justify-content: center;
    text-align: center;
    color: #001466;
    margin: 40px;
}

.contenttentang {
    display: flex;
    justify-content: space-between;
}

.cardtentangkiri {
    /* height: 250px; */
    width: 40%;
    border-top: 15px solid #001466;
    border-radius: 4px;
    box-shadow: -4px 4px 10px  rgba(0, 0, 0, 0.1);
    /* margin: auto; */
    padding: 25px;
    /* text-align: center; */
}

.tentangkiritext {
    color: #001466;
}

.tentangkiritext h4 {
    font-weight: normal;
}

.cardtentangkanan {
    /* height: 250px; */
    width: 40%;
    border-top: 15px solid #001466;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: -4px 4px 10px  rgba(0, 0, 0, 0.1);
    /* margin: auto; */
    padding: 25px;
    /* text-align: center; */
    /* opacity: 0.3; */
}

.tentangkanantext {
    color: #001466;
}

.tentangkanantext h4 {
    font-weight: normal;
}

/* statistika */

.statistika{
    width: 85%;
    margin: auto;
}
.judulstatistika {
    justify-content: center;
    text-align: center;
    color: #66001F;
    margin: 40px;
}

.contentstatistika {
    display: flex;
    justify-content: space-between;
    box-shadow: -4px 4px 20px rgb(215, 215, 215);
    padding: 30px;
}

.cardstatistikakanan {
    /* height: 250px; */
    width: 40%;
    border-top: 15px solid #66001F;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: -4px 4px 10px rgb(215, 215, 215);
    /* margin: auto; */
    padding: 25px;
    /* text-align: center; */
    /* opacity: 0.3; */
}

.gambarstatistika {
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.statistikakanantext {
    color: #66001F;
}

.statistikakanantext h4 {
    font-weight: normal;
}

/* Prediksi */
.prediksi{
    width: 85%;
    margin: auto;
}

.judulprediksi{
    text-align: center;
    margin: 40px;
    color: #001466;
}

.subjudulprediksi {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #001466;
}

.contentprediksi {
    display: flex;
    justify-content: space-between;
    /* box-shadow: -4px 4px 20px rgb(215, 215, 215); */
    padding: 30px;
}

.kotakprediksi1 {
    border-top: 15px solid #096600;
    width: 25%;
    box-shadow: -4px 4px 20px rgb(215, 215, 215);
    text-align: center;
    color: #096600;
    padding: 15px;
}

.kotakprediksi1 h4 {
    font-weight: normal;
}

.kotakprediksi2 {
    border-top: 15px solid #F99E00;
    width: 25%;
    box-shadow: -4px 4px 20px rgb(215, 215, 215);
    text-align: center;
    color: #F99E00;
    padding: 15px;
}

.kotakprediksi2 h4 {
    font-weight: normal;
}

.kotakprediksi3 {
    border-top: 15px solid #E10000;
    width: 25%;
    box-shadow: -4px 4px 20px rgb(215, 215, 215);
    text-align: center;
    color: #E10000;
    padding: 15px;
}

.kotakprediksi3 h4 {
    font-weight: normal;
}